h2 {
  font-family: sans-serif;
}

#productsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 50%;
}

.product {
  border: 5px solid black;
  padding: 1%;
  width: 30%;
  height: 40%;
}

.product img {
  /*width: 200px;
  height: auto;*/
  width: 100%;
  height: 100%;
}

.product:hover {
  border: 5px solid yellow;
}

.hideButton {
  display: none;
}

.loadButton {
  display:inline;
}

button {
  border: 1px solid black;
  margin-bottom: 1%;
  font-weight: bold;
  font-size: 14px;
  color: red;
}

@media (max-width: 500px) {
  #productsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
  }
}

#canvasContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#barChart {
  border: 1px solid black;
}

#pieChartOne {
  border: 1px solid black;
}
